html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #6ECDB2;
}

a:hover{ /**mouse hover over links**/
    color:#FB3449;
}

a:focus{ /**mouse click on links**/
    color:#FB3449;
    border-bottom: 2px solid #FB3449;
}

.red_border{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #FB3449;
    width: 35px;
    height: 100%;
    z-index: 1000;
}

.heading_links{
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 2000;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px){
    .heading_links{
        display: none;
    }
}

.logo{
    width: 40%;
    display: flex;
    align-items: center;
}

.red_border_heading{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #FB3449;
    width: 35px;
    height: 75px;
    z-index: 1000;
}

.subsection_links{
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    max-width: 1049px;
    justify-content: space-around;
    display: flex;
}

.subsection_link{
    font-size: 14px;
    font-weight: 500;
    color: #6ECDB2;
}

.website_content{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content:space-between;
}

.right_hand_side{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heading_subsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1500;
}

.heading_photos{
    display: flex;
    align-items: center;
    height: 305px;
    width: 850px;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .heading_photos img{
        height: 80px;
        width: 320px;
        opacity: 0;
    }
}

.heading_h1s{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -172.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_h1{
    font-size: 90px;
    margin: 0px;
}

.mission_gif{ /**would have been a gif*/
    width: 100%;
    height: 100%;
    background-color: #229F9E;
    height: calc(100vh - 525px);
    min-height: 350px;
    position:relative;
    z-index: 1000;
    left: -35px;
    padding-right: 35px;
}

.mission{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter_from_ceo{
    position: relative;
    z-index: -2;
    padding-top: 75px;
    justify-content: center;
    display: flex;
    background-color: #00416a;
    height: 800px;
    width: 100%;
}

.letter_from_ceo_left{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.letter_from_ceo_heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
}

.letter_from_ceo_h2{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    color: white;
    border-bottom:#FB3449 solid 2px;
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 3px;
}

.letter_from_ceo_p, .letter_from_ceo_end{
    display: flex;
    width: 600px;
    justify-content: flex-start;
    margin: 0px;
}

.letter_from_ceo_p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    margin-top: 27px;
}

.letter_from_ceo_end{
    width: 600px;
    display: flex;
}

.letter_from_ceo_end_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.letter_from_ceo_h4_white{
    color: white;
    font-weight: 900;
    font-size: 24px;
    width: 450px;
    margin: 0px;
}

.letter_from_ceo_h4_red{
    color: #FB3449;
    font-size: 24px;
    font-weight: 400;
    width: 450px;
    margin: 0px;
}

.letter_from_ceo_right{
    height: 475px;
    width: auto;
    position: relative;
    left: -30px;
    z-index: -1;
}

.our_mission{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.our_mission_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 294px;
    width: 405px;
}

.our_mission_right{
    position: relative;
    bottom: -90px;
}

.our_mission_h2{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    color: rgb(0, 65, 106);
    border-bottom:#FB3449 solid 2px;
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 3px;
    width: 301px;
}

.our_mission_p{
    color: #00416A;
    font-weight: 300;
    font-size: 18px;
}

.we_believe{
    width: 100%;
    height: 408px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 232, 19);
}

.we_believe_content{
    display: flex;
    flex-direction: column;
    width: 502px;
    gap: 30px;
}

.we_believe_h4{
    margin: 0px;
    font-weight: 900;
    color: rgb(0, 65, 106);
    font-size: 24px;
}

.we_believe_topic{
    display: flex;
    align-items: center;
    gap: 20px;
}

.we_believe_p{
    width: 450px;
    margin: 0px;
}


.numberCircle{
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    width: 20px;
    padding: 6px;
    background: #FB3449;
    color: #fff;
    text-align: center;
    font: 18px Arial,sans-serif;
}

.our_approach{
    flex-direction: column;
    height: 555px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_approach_content{
    flex-direction: column;
    height: 100%;
    width: 680px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.our_approach_h2{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    color: rgb(0, 65, 106);
    border-bottom:#FB3449 solid 2px;
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 3px;
    width: 374px;
}

.our_approach_programs{
    gap: 30px;
    display: flex;
    width: 600px;
}

.our_approach_p{
    color: #00416A;
    font-weight: 300;
    font-size: 18px;
}

.our_approach_3cs{
    display: flex;
    width: 100%;
    padding: 40px 0px;
    background-color: #EDE813;
    justify-content: center;
    align-items: center;
}

.our_approach_3cs_content{
    width:650px;
}

.our_approach_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our_approach_c_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.our_approach_3c_h4{
    color:#00416A;
}

.our_approach_3c_p{
    color: #00416A;
}

.our_approach_3cs_text{
    display: flex;
    flex-direction: column;
}

.program_growth{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program_growth_content{
    width:650px;
}

.program_growth_h2{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    color: rgb(0, 65, 106);
    border-bottom:#FB3449 solid 2px;
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 3px;
    width: 438px;
}

.program_growth_h4{
    font-weight: 900;
    font-size: 24px;
    color: #00416a;
}